<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <base href="<%= publicPath %>">
    <title><%= title %></title>
    <link rel="icon" href="<%= publicPath %>favicon.ico">
    <% if(isProd){ %>
      <link rel="stylesheet" href="<%= asset_path('main.ts')['css'] %>" />
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <% if(isProd){ %>
      <script type="module" src="<%= asset_path('main.ts')['file'] %>"></script>
    <% } else {%>
      <script type="module" src="<%= publicPath %>assets/@vite/client"></script>
      <script type="module" src="<%= publicPath %>assets/main.ts"></script>
    <% } %>
    <script src="https://cdn.bootcss.com/vConsole/3.3.4/vconsole.min.js"></script>
    <script>
      var vConsole = new VConsole();
    </script>
  </body>
</html>
